.vscode/settings.json
vocabulary/test/__pycache__/test_vocabulary.cpython-311-pytest-8.4.1.pyc
vocabulary/test/__pycache__/test_vocabulary.cpython-311-pytest-8.4.1.pyc
.__pycache__
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.egg-info
*.egg
*.log
*.sqlite3
*.db
.DS_Store
.env
.venv
.python-version
.cpython-*
.idea
.vscode
.vscode-*
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
./*/test/__pycache__/
./*/__pycache__/
./.pytest_cache/
./.coverage
.vocabulary/test/__pycache__/*
.vocabulary/__pycache__/*